---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    
      {% if post.title and post.categories[0] == "post" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">Project Categories</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% for cat in post.categories %}
        {% if post.title and cat == "project_category" %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
          {% for cat2 in post.categories %}
        <li>Checking1: {{ cat2 }}</li>
            {% for page in site.pages %}
        <li>Checking2: {{ page.title }}</li>
              {% for pcat in page.categories %}
        <li>Checking3: {{ pcat }}</li>
                {% if cat2 == pcat %}
                  {% for pcat2 in page.categories %}
        <li>Checking4: {{ pcat2 }}</li>
                    {% if pcat2 == "project" %}
        <li>
          <h3>
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </h3>
        </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          
          
        {% endif %}
      {% endfor %}
    
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
