{% if page.project %}

  <h1 class="page-heading">Projects</h1>

  <ul class="project-list">
    {% for cat2 in page.categories %}
      {% for pg in site.pages %}
        {% for pcat in pg.categories %}
          {% if cat2 == pcat %}
            {% for pcat2 in pg.categories %}
              {% if pcat2 == "project" %}
  <li>
    <h3>
      <a class="project-link" href="{{ pg.url | replace: 'index.html', '' | prepend: site.baseurl }}">{{ pg.title }}</a>
    </h3>
  </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>
  
{% else %}

  <h1 class="page-heading">Project Categories</h1>

  <ul class="project-list">
    {% for post in site.pages %}
      {% for cat in post.categories %}
        {% if post.title and cat == "project_category" %}
      <li>
        <h2>
          <a class="projectcategory-link" href="{{ post.url | replace: 'index.html', '' | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
          {% for cat2 in post.categories %}
            {% for pg in site.pages %}
            
              {% for pcat in pg.categories %}
                {% if cat2 == pcat %}
                  {% for pcat2 in pg.categories %}
                    {% if pcat2 == "project" %}
        <li>
          <h3>
            <a class="project-link" href="{{ pg.url | replace: 'index.html', '' | prepend: site.baseurl }}">{{ pg.title }}</a>
          </h3>
        </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    
    {% endfor %}
  </ul>
  
{% endif %}
